.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
}
.box {
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    margin: auto;
}
div:hover {
    height: 300px;
    width: 300px;
    background-color: black;
    margin: auto;
}